/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
  background-color: var(--bg-color--dark);
}
.post-1 {
  background: #9d27b0;
}
.post-2 {
  background: #9bb800;
}
.post-3 {
  background: #ed5120;
}
.post-4 {
  background: #9d27b0;
}
.post-5 {
  background: #2d95bb;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 7px 5px 7px;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px 0 50px 0;
    margin-bottom: 20px;
  }
  .nav--list {
    display: none;
  }
  .nav--icon {
    margin-bottom: 60px;
  }
  .banner {
    padding: 90px 33px 40px 33px;
    margin-bottom: 15px;
  }

  .posts {
    margin-bottom: 15px;
  }

  .news--item:not(:last-child) {
    margin-bottom: 15px;
  }

  .news {
    margin-bottom: 35px;
  }

  .footer {
    padding: 25px;
    text-align: center;
  }
}

.wrapper {
  margin: 0 auto;
  display: grid;
}

.header {
  background-color: var(--bg-color--header);
}

.nav--icon {
  width: 30px;
}

.nav--icon div {
  background-color: var(--link);
}

.line1 {
  height: 4px;
  margin-bottom: 6px;
}

.line2 {
  height: 3px;
  margin-bottom: 6px;
}

.line3 {
  height: 2px;
}

.logo--link,
.nav--link {
  color: var(--link);
}

.logo--link {
  font-weight: 200;
}

.logo--link > span {
  color: #d12767;
}

.banner {
  background: no-repeat url(../img/post0.jpg) top center;
  background-size: cover;
}

.banner--title,
.post--title {
  font-weight: 250;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 25px;
  color: var(--link);
}

.banner--description,
.post--description {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: var(--link);
  opacity: 0.7;
}

.post--text {
  padding: 33px;
  position: relative;
}

.post--date {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: var(--link);
  opacity: 0.3;
}

.post--date > p {
  font-size: 40px;
}

.news--text {
  padding: 30px;
  background-color: var(--link);
}

.news--title {
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px;
  color: var(--bg-color--dark);
}

.news--description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--bg-color--dark);
  opacity: 0.7;
}

.footer {
  background-color: var(--bg-footer-color);
}

.copyright,
.author {
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
  color: var(--link);
  opacity: 0.3;
}

.author {
  font-style: normal;
}
.author--link {
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
  color: var(--link);
}
