// Write your styles here
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$fonts: (
  "source-sans-pro": $source-sans-pro,
  "hind": $hind,
  "fresca": $fresca
);

@mixin link-style($size, $weight) {
  font-family: map-get($fonts, "hind");
  font-size: $size;
  color: $link-color;
  font-weight: $weight;
}

@mixin button-style {
  padding: 8px 35px;
  font-family: map-get($fonts, "hind");
  background-color: $btn-bg-color;
  color: $link-color;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

@mixin block-centration($width) {
  max-width: $width;
  margin: 0 auto;
}

%small-text {
  font-family: map-get($fonts, "source-sans-pro");
  font-size: 10px;
  color: $link-color;
}

body {
  background-color: $bg-color;
}

.header {
  background: no-repeat $header-bg-image center center;
  background-size: cover;
  @include block-centration($width);
  color: $text-color;
  border-bottom-right-radius: 740px 280px;

  &-wrap {
    @include block-centration($width * 0.8);
  }

  &_heading {
    max-width: $width * 0.25;
    font-size: 48px;
    font-family: map-get($fonts, "source-sans-pro");
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 60px;
  }

  &_text {
    max-width: $width * 0.35;
    font-size: 14px;
    font-family: map-get($fonts, "source-sans-pro");
    margin-bottom: 60px;
    white-space: pre-line;
  }

  &_button {
    @include button-style;
    margin-right: 280px;
    margin-bottom: 180px;
  }

  a {
    @include link-style(14px, bold);
  }
}

.landing-logo {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  color: $banner-logo-color;
  margin-bottom: 90px;
  img {
    width: 44px;
    margin-right: 15px;
  }
  p {
    font-size: 18px;
    font-family: map-get($fonts, "hind");
    font-weight: bold;
  }
  span {
    display: block;
    font-size: 8px;
  }
}

.section {
  text-align: center;
  padding-top: 40px;

  &_text {
    font-family: map-get($fonts, "source-sans-pro");
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    color: $text-color;
  }

  &_card_wrap {
    @include block-centration($width * 0.58);
  }

  &_card {
    padding: 14px;
    border-radius: 5px;
    background-color: $element-bg-color;
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    &_img {
      border-radius: 5px;
      min-height: 250px;
      width: auto;
    }

    &_right_container {
      width: $width * 0.25;
      padding-top: 60px;
      margin: 0 auto;
      color: $link-color;
      margin-bottom: 20px;
    }

    &_heading {
      font-family: map-get($fonts, "hind");
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    &_text {
      font-family: map-get($fonts, "source-sans-pro");
      font-size: 12px;
      text-align: justify;
      margin-bottom: 30px;
    }
  }

  &_link {
    @include link-style(12px, normal);
  }

  &_banner {
    @include block-centration($width * 0.625);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $banner-bg-gradient;
    padding: 25px 0;
    border-radius: 5px;
    transform: translateY(50px);

    &_heading {
      font-family: map-get($fonts, "source-sans-pro");
      font-size: 20px;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 16px;
    }

    &_text {
      @extend %small-text;
      text-align: left;
    }

    &_button {
      @include button-style;
    }
  }
}

.footer {
  background-color: $element-bg-color;
  max-width: $width;
  margin: 0 auto;
  padding: 100px 0 50px 0;

  &-wrap {
    @include block-centration($width * 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    margin-bottom: 0;
    color: $link-color;
  }

  &_text,
  &-cr {
    @extend %small-text;
  }

  &_text {
    max-width: 300px;
  }
}
