@import './variables.less';

// html {
//     box-sizing: border-box;
// }

// *, *::before, *::after {
//     box-sizing: inherit;
//     margin: 0;
//     padding: 0;
// }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    padding: 13px 0 13px 0;
    color: #777777
}

.nav-link:hover {
    background-color: @blue;
}